<%= form_with model: @product, url: admins_products_path, local: true do |f| %>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">

      <div class="form-group">
        <label for="control-label">シングル/アルバム名</label>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <label for="control-label">ジャケット写真</label>
        <%= f.attachment_field :image, class: "btn btn-info btn-sm", placeholder: "image" %>
      </div>

      <div class="form-group">
        <label for="control-label">アーティスト名</label>
        <%= select_tag :artist_id, options_from_collection_for_select(Artist.all, :id, :artist, params[:artist_id]), {prompt: "選択してください", class: "js-searchable form-control", name: "artist_id"} %>
        <input type="text" class="form-control" name="genre" placeholder="選択肢にない場合は、直接入力して下さい">
      </div>

      <div class="form-group">
        <label for="control-label">レーベル名</label>
        <%= select_tag :label_id, options_from_collection_for_select(Label.all, :id, :label, params[:label_id]), {prompt: "選択してください", class: "js-searchable form-control", name: "label_id"} %>
        <input type="text" class="form-control" name="genre" placeholder="選択肢にない場合は、直接入力して下さい">
      </div>

      <div class="form-group">
        <label for="control-label">ジャンル</label>
        <%= select_tag :genre_id, options_from_collection_for_select(Genre.all,:id,:genre, params[:genre_id]), {prompt: "選択してください", class: "js-searchable form-control", name: "genre_id"} %>
        <input type="text" class="form-control" name="genre" placeholder="選択肢にない場合は、直接入力して下さい">
      </div>


      <div class="form-group">
        <label for="control-label">在庫数</label>
        <%= f.select :stock, [
          ["0", "0"],
          ["1", "1"],
          ["2", "2"],
          ["3", "3"],
          ["4", "4"],
          ["5", "5"],
          ["6", "6"],
          ["7", "7"],
          ["8", "8"],
          ["9", "9"],
          ["10", "10"]
          ], {}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <label for="control-label">価格(税別)</label>
        <div class="form-group row">
          <div class="col-md-1">
            <label>¥</label>
          </div>
          <div class="col-md-11">
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="control-label">ステータス</label>
        <%= f.select :status, [["販売中", "販売中"], ["販売停止中", "販売停止中"]], {}, {class: "form-control"} %>
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label>シングル/アルバム内の曲名</label>
        <div class="row">
          <table class="table table-bordered p2146-2-table table-hover">
            <thead>
              <tr>
                <th>ディスク</th>
                <th>曲名</th>
                <th>曲順</th>
                <th>追加/削除</th>
              </tr>
            </thead>

            <tbody class="p2146-2-tbody">
              <%= f.nested_fields_for :disks, wrapper_tag: :tr do |disk| %>

              <tr>
                <td>
                  <%= disk.select :disk, [
                    ["ディスク1", "ディスク1"],
                    ["ディスク2", "ディスク2"],
                    ["ディスク3", "ディスク3"],
                    ["ディスク4", "ディスク4"],
                    ["ディスク5", "ディスク5"],
                    ["ディスク6", "ディスク6"],
                    ["ディスク7", "ディスク7"],
                    ["ディスク8", "ディスク8"],
                    ["ディスク9", "ディスク9"],
                    ["ディスク10", "ディスク10"]
                    ], {}, {class: "form-control"} %>
                </td>

                <%= f.nested_fields_for :songs, wrapper_tag: :tr do |song| %>
                  <td>
                    <%= song.text_field :song, class: "form-control p2146-2-tbody" %>
                  </td>

                  <td>
                    <%= song.select :song_order, [
                      ["0", "0"],
                      ["1", "1"],
                      ["2", "2"],
                      ["3", "3"],
                      ["4", "4"],
                      ["5", "5"],
                      ["6", "6"],
                      ["7", "7"],
                      ["8", "8"],
                      ["9", "9"],
                      ["10", "10"]
                      ], {}, {class: "form-control p2146-2-tbody"} %>
                  </td>
                <% end %>

                <td>
                  <td><%= disk.remove_nested_fields_link "-", class: "btn btn-danger btn-sm", role: "button" %></td>
                </td>
              </tr>

              <% end %>
            </tbody>
          </table>
          <%= f.add_nested_fields_link :disks, '+', class: 'btn btn-info btn-sm', role: 'button' %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>

<% end %>