<h2>管理者登録ページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス:", placeholder: "例：abcdefg@mail.com" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "パスワード", placeholder: "半角英数字8〜32文字" %>
  </div>


  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "パスワード確認", placeholder:"半角英数字8〜32文字" %>
  </div>


  <div class="actions">
    <%= f.submit "管理者の登録をする" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
