<div class="container">

  <div class="row">

    <div class="col-md-6">

      <div class="">
        <h3>ユーザー情報</h3>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
      </div>

    </div>

    <div class="col-md-6">
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">

  <div class="row">

    <div class="col-md-4">

      <div class="">
        <p>□名前（性・名）</p>

        <p>□名前（カナ性・カナ名）</p>

        <p>□郵便番号</p>

        <p>□住所</p>

        <p>□電話番号</p>

        <p>□メールアドレス</p>

      </div>

    </div>

    <div class="col-md-8">

       <div>
        <p><span><%= @user.last_name %></span><span><%= @user.first_name %></span></p>

        <p><span><%= @user.kana_last_name %></span><span><%= @user.kana_first_name %></span></p>

        <p><span><%= @address.postal_code %></span></p>

        <p><span><%= @address.address %></span></p>

        <p><span><%= @user.telephone %></span></p>

        <p><span><%= @user.email %></span></p>
       </div>

    </div>
  </div>
    </div>




    <div class="col-md-4 col-md-offset-1">

        <div class="">
            <p>ユーザー情報を編集するには編集をクリック<br>
               してください。
            </p>
            <p>
              <%= link_to edit_admins_user_path(@user) do %>
              <button class="btn btn-success">編集</button>
              <% end %>
            </p>
        </div>

        <div class="">
            <p>過去の購入履歴を閲覧するには購入履歴一覧<br>
               をクリックしてください。
            </p>
            <p>
              <%= link_to admins_payment_path(@user) do %>
              <button class="btn btn-primary">購入履歴一覧</button>
              <% end %>
            </p>
        </div>

        <div class="">
            <p>このユーザーを退会させるには退会をクリック<br>
               してください。
             </p>
            <p>
              <%= link_to user_registration_path(@user),method: :delete,"data-confirm" => "本当に退会させますか？" do %>
              <button class="btn btn-danger">退会</button>
              <% end %>
            </p>
        </div>

    </div>
  </div>
</div>