<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>シングル/アルバム名</th>
            <th>ジャケット画像</th>
            <th>アーティスト名</th>
            <th>価格(税込)</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.titile %></td>
              <td><%= attachment_image_tag product, :image, :fill, 50, 50, format: 'png', fallback: "noimage.png"  %></td>
              <td><%= product.artist %></td>
              <td>￥<%= product.price %></td>
              <td>
                <%= product.select :quantity, [
                  ["0", "0"],
                  ["1", "1"],
                  ["2", "2"],
                  ["3", "3"],
                  ["4", "4"],
                  ["5", "5"],
                  ["6", "6"],
                  ["7", "7"],
                  ["8", "8"],
                  ["9", "9"],
                  ["10", "10"]
                  ], {}, {class: "form-control"} %>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm">削除</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-center">
        <p>商品合計（税込）｜　¥5,000</p>
        <button type="button" class="btn btn-primary btn-lg">決済ページへ</button>
      </div>
    </div>
  </div>
</div>
