<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    <div class="row">
      <div class="col-md-5">
        <h1>購入履歴</h1>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
        <p>現在の送料 500円</p>
      </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>購入日</th>
<<<<<<< HEAD
        <th>送付先郵便番号</th>
        <th>送付先住所</th>
        <th>ステータス</th>
        <th>支払方法</th>
        <th>総計（送料込み）</th>
=======
        <th>送付先</th>
        <th>ステータス</th>
        <th>総計</th>
>>>>>>> 6f094f1a9db045eff7b97719fed6f66ecb92994b
      </tr>

      <% current_user.payments.each do |payment| %>
          <tr>
<<<<<<< HEAD
            <th><%= payment.created_at.strftime('%Y/%m/%d') %></th>
            <th><%= payment.shipping_postal_code %></th>
            <th><%= payment.shipping_address %></th>
            <th><%= payment.order_status %></th>
            <th><%= payment.payment_method.payment_method %></th>
=======
            <th><%= link_to payment_path(payment.id) do %>
                  <%= payment.created_at.strftime('%Y/%m/%d') %>
                <% end %>
            </th>
            <th><%= payment.shipping_address %></th>
            <th><%= payment.order_status %></th>
>>>>>>> 6f094f1a9db045eff7b97719fed6f66ecb92994b
            <th><% sum = 0 %>
              <% payment.purchase_products.each do |purchase_product| %>
              <% sum += purchase_product.price * purchase_product.quantity %>
                <% end %>
                <%= sum + 500 %>
            </th>
<<<<<<< HEAD
            <th><%= link_to "詳細", payment_path(payment.id), class: "col-xs-12 btn btn-info" %></th>
=======
>>>>>>> 6f094f1a9db045eff7b97719fed6f66ecb92994b
          </tr>
      <% end %>
    </table>

    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg center-block btn-block">戻る</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-5">
              <%= paginate @payments, class: "paginate" %>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>


  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 6f094f1a9db045eff7b97719fed6f66ecb92994b
