<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    <div class="row">
      <div class="col-md-5">
        <h1>購入履歴</h1>
        <p>会員登録時のユーザー情報を閲覧することができます。</p>
        <p>現在の送料 500円</p>
      </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>購入日</th>
        <th>送付先郵便番号</th>
        <th>送付先住所</th>
        <th>ステータス</th>
        <th>支払方法</th>
        <th>総計（送料込み）</th>
      </tr>

      <% current_user.payments.each do |payment| %>
          <tr>
            <td><%= payment.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= payment.shipping_postal_code %></td>
            <td><%= payment.shipping_address %></td>
            <td><%= payment.order_status %></td>
            <td><%= payment.payment_method.payment_method %></td>
            <td><% sum = 0 %>
              <% payment.purchase_products.each do |purchase_product| %>
              <% sum += purchase_product.price * purchase_product.quantity %>
                <% end %>
                <%= sum + 500 %>
            </td>
            <td><%= link_to "詳細", payment_path(payment.id), class: "col-xs-12 btn btn-info" %></td>
          </tr>
      <% end %>
    </table>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <%= link_to "マイページへ", user_path(current_user), class: "btn btn-primary btn-lg center-block btn-block" %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
          <%= paginate @payments, class: "paginate" %>
        </div>
        <div class="col-md-3">
        </div>
      </div>

    </div>
  </div>
</div>
