<div class="container-fluid">
  <div class="row">
    <h1>決済ページ</h1>

    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>購入内容</th>
            <th>購入枚数</th>
            <th>価格</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>

  <div class="row border"> <!-- cssでborder設定する -->
    <div class="col-md-10 col-md-offset-1">
  <%= form_for (@payment) do |f| %>
      <p>
        <label>
          <input type="radio" name="address" value="現在登録している住所">
          現在登録している住所
        </label>
      </p>
      <p>郵便番号：<%= @address.postal_code %></p>
      <p>住所：<%= @address.address %></p>

      <p>
        <label>
          <input type="radio" name="address" value="登録している住所以外に送付する場合は下記に入力してください"> 登録している住所以外に送付する場合は下記に入力してください
        </label>
      </p>
      <%= form_for (@address) do |f| %>
      <p>
        <label for="name">送付先氏名：</label>
        <%= f.text_field :shipping_last_name, class: "form-control", :placeholder => "例：山田" %>
        <%= f.text_field :shipping_first_name, class: "form-control", :placeholder => "例：太郎" %>
      </p>
      <p>
        <label for="postal_code">送付先郵便番号：</label>
        <%= f.text_field :shipping_postal_code, class: "form-control", :placeholder => "例：1234567" %>
      </p>
      <p>
        <label for="postal_code">送付先住所：</label>
        <%= f.text_field :shipping_postal_code, class: "form-control", :placeholder => "例：東京都千代田区大手町1-2-3" %>
      </p>
      <% end %>
    </div>
  </div>

  <div class="row border"> <!-- cssでborder設定する -->
    <div class="col-md-10 col-md-offset-1">
        <h4>支払方法を選択</h4>
        <%= f.fields_for :payment_methods do |f| %>
          <label>
            <%= f.radio_button :payment_method, "銀行振り込み" %>
          </label>
          <label>
            <%= f.radio_button :payment_method, "クレジットカード" %>
          </label>
          <label>
            <%= f.radio_button :payment_method, "代引" %>
          </label>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1 h3">商品小計｜¥<%= @cart.price * @cart.quantity %></div>
    <div class="col-md-3 h3">送料｜¥500</div>
    <div class="col-md-3 h3">総計（税込）｜<%= @cart.price * @cart.quantity + 500 %></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-md-offset-8">
        <%= f.submit "購入", class: "btn btn-primary btn-lg center-block btn-block" %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <% end %>

</div>
