<div class="container-fluid">
  <div class="row">
    <h1>購入手続き</h1>

    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>シングル/アルバム名</th>
            <th>アーティスト名</th>
            <th>購入枚数</th>
            <th>価格(税込)</th>
          </tr>
        </thead>
        <tbody>
          <% @carts.each do |cart| %>
            <tr>
              <td><%= cart.product.title %></td>
              <td><%= cart.product.artist.artist %></td>
              <td><%= cart.quantity %>枚</td>
              <td>￥<%= cart.product.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row border"> <!-- cssでborder設定する -->
    <div class="col-md-10 col-md-offset-1">

      <p>
        <label>
          お届け先をご確認ください。登録されている宛先と異なる場合は入力してください。
        </label>
      </p>
  <%= form_for (@payment) do |f| %>
          <p>
            <label for="name">お届け先氏名：</label>
            <%= f.text_field :shipping_last_name, value: current_user.last_name, class: "form-control" %>
            <%= f.text_field :shipping_first_name, value: current_user.first_name, class: "form-control" %>
          </p>
          <p>
            <label for="postal_code">郵便番号：</label>
            <%= f.text_field :shipping_postal_code, value: @address.postal_code, class: "form-control" %>
          </p>
          <p>
            <label for="postal_code">お届け先住所：</label>
            <%= f.text_field :shipping_address, value: @address.address,class: "form-control" %>
          </p>
    </div>
  </div>
  <div class="row border"> <!-- cssでborder設定する -->
    <div class="col-md-10 col-md-offset-1">
        <h4>支払方法を選択</h4>
          <label>
            <%= f.radio_button :payment_method_id, "1" %>銀行振り込み
          </label><br>
          <label>
            <%= f.radio_button :payment_method_id, "2" %>クレジットカード
          </label><br>
          <label>
            <%= f.radio_button :payment_method_id, "3" %>代引
          </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1 h3">商品小計｜¥ <%= @total_price %> </div>
    <div class="col-md-3 h3">送料｜¥ 500</div>
    <div class="col-md-3 h3">総計（税込）｜¥ <%= @total_price + 500 %> </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-md-offset-8">
        <%= f.submit "購入", class: "btn btn-primary btn-lg center-block btn-block" %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <% end %>
</div>
