<%= f.fields_for :disks do |d| %>
  <div class='nested-fields'>
    <%= d.text_field :disk %>
    <table class="table table-borderedtable-hover">
      <thead>
          <th>曲名</th>
          <th>曲順</th>
          <th>追加/削除</th>
      </thead>
      <%= id = f.object_name.to_sym.slice(25..36) %>

      <tbody class=<%= "tbody_#{id}" %> >
        <%= render 'song_fields', :f => d %>
      </tbody>
    </table>
  </div>

<% end %>