<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <%= search_form_for @search do |f| %>
      <!-- 検索値を含むレコードを検索 -->
      <%= f.search_field :title_cont , class: "form-control", placeholder: "商品名を入力" %>

      <%= f.submit "検索" %>
    <% end %>
  </div>
</form>

<p id="notice"><%= flash[:notice] %></p>

<div class="row">

  <h2>商品一覧</h2>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <p><%= flash[:notice] %></p>
    </div>
  </div>

</div>
<div class="row">
  <div class="table-responsive">
    <table id="select" class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>画像</th>
          <th>シングル・アルバム名</th>
          <th>アーティスト名</th>
          <th>価格（税別）</th>
          <th>在庫数</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |product| %>
          <tr>
            <td><%= link_to product.id, admins_product_path(product.id) %></td>
            <td><%= attachment_image_tag product, :image, size: "30x30", format: 'png', fallback: "noimage.png" %></td>
            <td><%= product.title %></td>
            <td><%= product.artist.artist %></td>
            <td>¥<%= product.price %></td>
            <td><%= product.stock %></td>
            <td><%= product.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<div class="row">
  <div class="col-md-offset-4">
    <%= paginate @products, class: "paginate" %>
  </div>
</div>
