<div class="container">
  <div class="row">
    <h1>商品登録</h1>

      <div class="form">
        <%= form_for @product, url: admins_products_path, method: :post do |f| %>

          <div class="row">
            <div class="col-md-4 col-md-offset-2">

              <div class="form-group">
                <label for="control-label">シングル/アルバム名</label>
                <%= f.text_field :title, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="control-label">ジャケット写真</label>
                <%= f.attachment_field :image, class: "btn btn-info btn-sm" %>
              </div>

              <%= form_tag admins_products_path, method: :post do %>
                <div class="form-group">
                  <label for="control-label">アーティスト名</label>
                  <%= select_tag :artist_id, options_from_collection_for_select(Artist.all, :id, :artist, params[:artist_id]), include_blank: true, class: "js-searchable form-control", name: "artist_id" %>
                </div>
              <% end %>

              <%= form_tag admins_products_path, method: :post do %>
                <div class="form-group">
                  <label for="control-label">レーベル名</label>
                  <%= select_tag :label_id, options_from_collection_for_select(Label.all,:id,:label), include_blank: true, class: "js-searchable form-control", name: "label_id" %>
                </div>
              <% end %>

              <%= form_tag admins_products_path, method: :post do %>
                <div class="form-group">
                  <label for="control-label">ジャンル</label>
                  <%= select_tag :genre_id, options_from_collection_for_select(Genre.all,:id,:genre), include_blank: true, class: "js-searchable form-control", name: "genre_id" %>
                </div>
              <% end %>


          <div class="col-md-4 col-md-offset-4">
            <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block" %>
          </div>

        <% end %>
      </div>
  </div>
</div>