<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
      <div class="col-md-5 col-md-offset-2">
        <%= attachment_image_tag @product, :image, size: "300x300", format: 'jpg' %>
      </div>
      <div class="col-md-4">
        <label><%= @product.title %></label><br>
        <label><%= @product.artist.artist %></label>
        <p>レーベル｜<%= @product.label.label %></p>
        <p>ジャンル｜<%= @product.genre.genre %></p>
        <p>在庫｜<%= @product.stock %></p>
        <p>価格(税込)|￥<%= @product.price %></p>
        <P>ステータス｜<%= @product.status %></P>
      </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <h4>収録曲</h4>
      <% @disks.each do |disk| %>
        <p><label>ディスクNo.</label><%= disk.disk %></p>
        <ul>
          <% disk.songs.each do |song| %>
            <li><%= song.song_order %>.   <%= song.song_title %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-2">
      <%= link_to "商品一覧へ", admins_products_path, class: "btn btn-default btn-lg btn-block" %>
    </div>
    <div class="col-md-offset-1 col-md-2">
      <%= link_to "編集", edit_admins_product_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
    <div class="col-md-offset-1 col-md-2">
      <%= link_to "削除", admins_products_path, method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-warning btn-lg btn-block" %>
    </div>
  </div>
</div>