
<%= render 'layouts/search' %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <% @results.each do |product| %>
        <div class="col-md-3">
          <div class="col-md-12">
            <section class="">
              <%= attachment_image_tag product, :image, size: "250x200", format: 'png', fallback: "noimage.png"  %>
              <h3 class=""><%= link_to product.title, product_path(product.id) %></h3>
              <p class=""><%= product.artist.artist %></p>
              <p class="">価格(税込)｜￥<%= product.price %></p>
              <p class=""><%= product.status %></p>
            </section>
          </div>
        </div>
        <% end %>


        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-5">
              <%= paginate @products, class: "paginate" %>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

