<!DOCTYPE html>
<html>
  <head>
    <title>Music Rack</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- font-awesomeとjqueryn追記 -->
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

<!--     _search のパーシャルは、表示が必要な画面に以下を貼り付け
    <%= render 'layouts/search' %> -->

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>