<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "名前(性・名)", placeholder:"例：山田" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder:"太郎" %>
  </div>

  <div class="field">
    <%= f.label :kana_last_name %><br />
    <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "名前(カナ性・カナ名)", placeholder:"例：ヤマダ" %>
  </div>

  <div class="field">
    <%= f.label :kana_first_name %><br />
    <%= f.text_field :kana_first_name, autofocus: true, placeholder:"タロウ" %>
  </div>


<%= f.fields_for :address do |f| %>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%=f.text_field :postal_code, placeholder:"例：3218364" %>
  </div>

  <div>
    <%= f.label :address %><br />
    <%= f.text_field :address, placeholder:"例：東京都千代田区大手町2-11" %>
  </div>
<% end %>



　<div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone, autofocus: true, autocomplete: "電話番号", placeholder:"08012345678" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "パスワード確認" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
